@use '../../../../../../styles/abstracts' as abstracts;

.headerActions {
  display: flex;
  gap: abstracts.space(2);
}

.outlineButton {
  display: flex;
  align-items: center;
  gap: abstracts.space(2);
}

.hiddenMobile {
  display: none;

  @include abstracts.respond-to('sm') {
    display: inline;
  }
}

.visibleMobile {
  @include abstracts.respond-to('sm') {
    display: none;
  }
}

.actionIcon {
  @include abstracts.icon-size(abstracts.space(4));
  color: abstracts.color('foreground');
}
