**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/*.*proj.user
**/docker-compose*
**/Dockerfile*
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

# Dependencies
**/node_modules
node_modules/
**/npm-debug.log
npm-debug.log*

# Build outputs
.next/
out/
build/
dist/
bin/
obj/

# Testing
coverage/
.nyc_output/
.storybook/
code-cov/
*.lcov
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
test-results/
playwright-report/
storybook-static/

# Artifacts
*.md
docs/
**/*.stories.tsx
**/*.stories.ts
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx

# Logs
logs/
*.log
