# Don't commit transient artifacts
**/tmp/**
**/node_modules/**
**/_site/**
**/obj/**
**/bin/**
**/dist/**
**/build/**
**/out/**
**/output/**
**/.nx/**
**/.vs/**
**/.next/**

# Don't commit env variables:
**/.env
**/.env.*
