# Don't commit transient artifacts
**/tmp/**
**/node_modules/**
**/_site/**
**/obj/**
**/bin/**
**/dist/**
**/build/**
**/out/**
**/output/**

# Next.js SWC cache
.next/

# Nx cache
.nx/

# Don't commit env variables:
**/.env
**/.env.*
