# Only allow exact version matches when installing dependencies.
# This is useful to avoid issues with semver ranges.
save-exact=true

# The text for the npm cli.
# This is displayed as the heading for the npm commands.
heading='@arolariu/npm'
