@use '../../../styles/abstracts' as abstracts;

.platformPage {
  position: relative;
  min-height: 100vh;
  background-color: abstracts.color('background');
  color: abstracts.color('foreground');
}

.platformMain {
  padding-bottom: abstracts.space(12);
}
