@use '../../../../../../styles/abstracts' as *;

.header {
  margin-bottom: space(6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: space(4);

  @include respond-to('md') {
    flex-direction: row;
    align-items: center;
  }
}

.nameGroup {
  display: flex;
  align-items: center;
  gap: space(2);
}

.actionsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: space(2);
}
