azure-identity==1.25.2
azure-monitor-opentelemetry-exporter==1.0.0b48
azure-appconfiguration==1.7.1
azure-appconfiguration-provider==2.4.0
azure-keyvault-secrets==4.10.0
fastapi==0.135.1
opentelemetry-api==1.39.0
opentelemetry-sdk==1.39.0
opentelemetry-instrumentation-fastapi==0.60b0
opentelemetry-instrumentation-logging==0.60b0
uvicorn==0.43.0
httpx==0.28.1
pytest==9.0.2
ruff==0.15.4
