azure-identity==1.26.0
azure-monitor-opentelemetry-exporter==1.0.0b58
azure-appconfiguration==1.10.0
azure-appconfiguration-provider==2.5.0
azure-keyvault-secrets==4.11.3
fastapi==0.142.2
opentelemetry-api==1.45.0
opentelemetry-exporter-otlp-proto-http~=1.45.0
opentelemetry-instrumentation-fastapi==0.66b0
opentelemetry-instrumentation-logging==0.66b0
opentelemetry-sdk==1.45.0
uvicorn==0.54.0
httpx==0.28.1
