azure-identity==1.25.3
azure-monitor-opentelemetry-exporter==1.0.0b55
azure-appconfiguration==1.9.0
azure-appconfiguration-provider==2.5.0
azure-keyvault-secrets==4.11.0
fastapi==0.141.1
opentelemetry-api==1.43.0
opentelemetry-exporter-otlp-proto-http~=1.44
opentelemetry-instrumentation-fastapi==0.64b0
opentelemetry-instrumentation-logging==0.64b0
opentelemetry-sdk==1.43.0
uvicorn==0.52.1
httpx==0.28.1
