// ===========================================
// EXPORT DIALOG STYLES
// ===========================================
@use '../../../../../../styles/abstracts' as *;

// ===========================================
// SECTIONS
// ===========================================
.body {
  & > * + * {
    margin-top: space(4);
  }

  padding-block: space(4);
}

.section {
  & > * + * {
    margin-top: space(2);
  }
}

.sectionTitle {
  font-size: font-size('sm');
  font-weight: font-weight('medium');
}

// ===========================================
// ICON STYLES
// ===========================================
.formatIcon {
  width: space(4);
  height: space(4);
}

.radioRow {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: space(2);
  }
}
