@use '../../../../../../../styles/abstracts' as *;

.body {
  & > * + * {
    margin-top: space(4);
  }
  padding-block: space(2);
}

.merchantProfile {
  display: flex;
  align-items: center;
  gap: space(3);
}

.merchantAvatar {
  background-color: color-alpha('primary', 0.1);
  display: flex;
  width: space(12);
  height: space(12);
  align-items: center;
  justify-content: center;
  border-radius: radius('full');
}

.merchantName {
  font-size: font-size('lg');
  font-weight: font-weight('medium');
}

.detailRow {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: space(2);
}

.detailLabel {
  font-weight: font-weight('medium');
}

.dialogContent {
  @include respond-to('sm') {
    max-width: 28rem;
  }

  @include respond-to('md') {
    max-width: 36rem;
  }
}

.dialogHeader {
  align-items: flex-start;
  justify-content: flex-start;
}

.buildingIcon {
  color: color('primary');
  width: space(6);
  height: space(6);
}

.categoryBadge {
  color: color('muted-foreground');
}

.labelCell {
  padding-block: space(2);
  padding-left: 0;
}

.mutedIcon {
  color: color('muted-foreground');
  margin-right: space(2);
  width: space(4);
  height: space(4);
}

.valueCell {
  padding-block: space(2);
}

.mapsButton {
  width: 100%;
}
