# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# yarn
/.yarn/

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# service worker
/public/sw.js
/public/swe-*.js

certificates
