# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# local env files
.env*.local

# vercel
.vercel

# storybook
/storybook-static

# typescript
*.tsbuildinfo
next-env.d.ts


# service worker
/public/sw.js
/public/swe-*.js

certificates

*storybook.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
