# dotfiles and dotfolders:
.next
.yarn
.yarnrc.yml
.vscode
.env
.env.example
.node-version
.gitattributes
.prettierignore
.editorconfig
.gitignore

# current directory exceptions:
*.json
public
readme.md

# exceptions for all directories:
**/**/readme.md
**/**/*.ico
**/**/*.css
**/**/*.svg
**/**/*.png
**/**/*.jpg
**/**/*.mdx
**/**/*.json
**/**/*.txt

# Lockfiles:
package-lock.json
yarn.lock
pnpm-lock.yaml
Dockerfile

