node_modules
.next
.yarn
.yarnrc.yml
.vscode
.env
.env.example
.eslintignore
.gitattributes
.gitignore
.prettierignore
.editorconfig

public
i18n.inlang/

**/**/readme.md
**/**/node_modules
**/**/.next
**/**/public
**/**/*.ico
**/**/*.css
**/**/*.svg
**/**/*.png
**/**/*.jpg
**/*.json

src/components/ui

package-lock.json
yarn.lock

Dockerfile
