@use '../../../../../../../styles/abstracts' as *;

.imageContainer {
  cursor: pointer;
  overflow: hidden;
  border-radius: radius('lg');
  border: 1px solid color('border');

  &:hover img {
    transform: scale(1.05);
  }
}

.scanImage {
  width: 100%;
  object-fit: cover;
  @include transition(all, 'normal');
}

.scanImageTransitioning {
  opacity: 0.5;
  filter: blur(4px);
}

.dialogImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 80vh;
  overflow: auto;
}

.dialogImage {
  width: 100%;
  object-fit: contain;
}

.scanNavigation {
  display: flex;
  width: 100%;
  gap: space(2);
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: space(2);
}

.zoomIcon {
  @include icon-size(space(4));
  margin-right: space(2);
}
