@use '../../../../../../../styles/abstracts' as *;

.tooltip {
  background-color: color('background');
  border-radius: radius('lg');
  border: 1px solid color('border');
  padding: space(2) space(3);
  @include shadow('md');
}

.tooltipName {
  font-size: font-size('sm');
  font-weight: font-weight('medium');
}

.tooltipDetails {
  margin-top: space(1);

  & > * + * {
    margin-top: space(0.5);
  }

  font-size: font-size('xs');
}

.tooltipLabel {
  color: color('muted-foreground');
}

.tooltipValue {
  font-weight: font-weight('medium');
}
