@use '../../../../../../../styles/abstracts' as *;

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.receiptImage {
  height: 100%;
  width: 100%;
  border-radius: radius('md');
  border: 1px solid color('border');
  object-fit: cover;
}

.dialogContent {
  height: 100%;
  min-width: 91.666%;
}
