@use '../../../../styles/abstracts' as *;

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.image {
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageLoaded {
  opacity: 1;
}
